sudo: required

language: node_js
node_js:
  - "7"

services:
  - docker

before_install:
  - docker build -t opendronemap/node-opendronemap .

script: docker run opendronemap/node-opendronemap --powercycle
